<li>
  <a href="{{ word.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      {% unless word.title == "" %}
          <h1 class="post-link__title">
            {{ word.title }}
          </h1>
      {% else %}
        {% include post-excerpt.html %}
      {% endunless %}
      {% if word.title != "" and site.show_excerpts == true %}
        {% include post-excerpt.html %}
      {% endif %}
    </div>
    <span class="post-date">
      {{ word.pronunciation | date: "%b %-d, '%y" }}
    </span>
  </a>
</li>