---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  {% include go-back.html %}

  {% if page.title != "" %}
    {% if page.pronunciation and page.pronunciation != "" %}
      <h1 class="post-title divided p-name with-subtitle" itemprop="name headline">
        {{ page.title }}
      </h1>
      <h1 class="after-title">{{ page.pronunciation }}</h1>
    {% else %}
      <h1 class="post-title divided p-name" itemprop="name headline">
        {{ page.title }}
      </h1>
    {% endif %}
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    {% if page.source and page.source != "" %}
    <p class="source"><a class="link" target="_blank" href="{{ page.source }}">Source</a></p>
    {% endif %}
  </div>

  <div class="post-meta">
    <time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
  </div>

</article>
